{# templates/homepage/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <title>Health Check</title>

</head>
<body>
    <div class="container">
        <h1>Health Check</h1>
        <div class="content">
            <p>Status: {{ health.status|upper }}</p>
            <p>Timestamp: {{ health.timestamp }}</p>
        </div>
    </div>
</body>
{% endblock %}
